.app {
  background-color: #F7F7FB;
  display: flex;
}

.menu {
  padding: 48px;
  max-width: 320px;
  min-height: 100vh;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(200deg, #B380FD 12%, #6347F5 78%);
}
.menu div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 30 1 0;
}
.menu p {
  font-size: 14px;
  color: #FFF;
  align-items: center;
  flex: 1 1 0;
}

.menu-item {
  margin-bottom: 24px;
}

.tokens {
  width: 100%;
  padding: 32px 24px;
  box-sizing: border-box;
}

.token {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  background-color: #fff;
}

.token>div:not(.token__label) {
  flex: 1 0 0;
  margin: 0 10px;
  box-sizing: border-box;
}

.token__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 2 0 0;
}

.token__label>.token__id {
  flex: 1 1 0;
}

.token__label>.token__label-inner {
  flex: 8 1 0;
}

.token__label-inner {
  display: flex;
}

.token__id {
  font-weight: 500;
  font-size: 18px;
  color: #93949D;
}

.token__name {
  font-size: 21px;
  color: #000;
}

.token__symbol {
  font-size: 16px;
  color: #6347F5;
}

.token__cost p {
  margin: 0;
}

.token__price {
  font-size: 18px;
  color: #6347F5;
}

.token__priceChange {
  display: flex;
  align-items: center;
}

.token__priceIncreased {
  font-weight: 500;
  font-size: 14px;
  color: #30BF8C;
}

.token__priceDecreased {
  font-weight: 500;
  font-size: 14px;
  color: #FF647C;
}

.token__priceNeutral {
  font-weight: 500;
  font-size: 14px;
  color: #93949D;
  ;
}

.token__value,
.token__totalValue,
.token__users {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.token__volume,
.token__tvl,
.token__usersNumber {
  font-size: 18px;
  color: #000;
  margin-right: 16px;
}

.token__users {
  margin-right: 0;
  margin-left: 10px;
}

.token__volumePercentage,
.token__tvlPercentage,
.token__users {
  font-size: 16px;
  color: #6347F5;
}

.price-dot {
  width: 3px;
  height: 3px;
  margin: 6px;
  display: inline-block;
  border-radius: 100%;
  background-color: #93949D;
}

.token__logo img {
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}

.token__calling p {
  margin: 0;
}


@media(max-width: 1250px){
  .app{
    flex-direction: column;
    width: 100%;
  }
  .app .MuiContainer-root{
    padding: 10px;
  }
  .menu {
    min-height: unset;
    min-width: 100%;
    box-sizing: border-box;
  }
  .tokens{
    padding: 0;
    min-height: 100vh;
  }
  .tokens div, .token p{
    font-size: 12px;
  }
}